/*
Global declarations
*/

* {
    box-sizing: border-box;
}

body,
p,
h1,
h2 {
    padding: 0;
    margin: 0;
}

:root {
    --primary: #02df95;
    --primary-dark: #01a783;
    --on-primary: #d6e7fa;
    --border-radius: 10px;
}

body {
    font-family: system-ui, serif;
    padding: 2rem;
}

/* 
Resize container
*/
.card-container {
    display: block;
    container-type: inline-size;
    resize: both;
    overflow: auto;
    padding: 1rem;
    border: 2px solid var(--primary-dark);
}

/*
Default card layout
*/
.card {
    display: grid;
    gap: 1rem;
    justify-items: center;
    grid-template-areas: "title title title" "img desc desc" "btn btn btn";
}

/*
Card elements styling
*/

.card__title {
    grid-area: title;
}

.card__img {
    grid-area: img;
    width: 10rem;
    border-radius: var(--border-radius);
}

.card__desc {
    grid-area: desc;
    text-align: justify;
}

.card__btn {
    grid-area: btn;
    border: none;
    padding: 1rem 2rem;
    border-radius: var(--border-radius);
    background-color: var(--primary);
    cursor: pointer;
    font-weight: bold;
    color: white;
    height: fit-content;
}

.card__btn:hover {
    background-color: var(--primary-dark);
}

@container (width < 600px) {
    .card {
        grid-template-areas: "img" "title" "desc" "btn";
    }
}

@container (width < 350px) {
    .card {
        grid-template-areas: "title" "img" "desc" "btn";
    }
}